.header__outer {
  display: flex;
  justify-content: center;
}

.header__inner {
  position: fixed;
  display: flex;
  width: 1160px;
  height: 51px;
  border-radius: 75px;
  /* background: rgba(255, 255, 255, 0.9); */
  background: black;
  backdrop-filter: blur(7.5px);
  margin-top: 12px;
  z-index: 998;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
  cursor: pointer;
}

.logo__text-top,
.logo__text-bottom {
  color: #531b9a;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 104.4%;
}

.navbar {
  margin-left: 70px;
}

.navbar__items {
  display: flex;
}

.navbar__items-link {
  margin-right: 41px;
  color: #9970cc;
  text-align: center;
  font-family: Gilroy;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 104.4%;
  cursor: pointer;
}

@media (max-width: 1220px) {
  .navbar {
    margin-left: 0;
  }

  .header__inner {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .navbar {
    display: none;
  }
}