.processBottom__container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.processBottom__innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1160px;
}

.processBottom__image-outer {
  width: 401px;
  height: 313px;
  border-radius: 40px;
  background: #eaf2f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.processBottom__image-outer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.processBottom__desc-outer {
  width: 730px;
  height: 313px;
  border-radius: 40px;
  background: #eaf2f5;
  margin-left: 29px;
  display: flex;
  flex-direction: column;
}

.processBottom__desc-outer > h3 {
  color: #22253b;
  font-family: Gilroy;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-top: 54px;
  margin-left: 100px;
}

.processBottom__desc-outer > span,
.processBottom__desc-outer > p {
  color: #22253b;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-left: 100px;
}

.processBottom__desc-outer > span {
  margin-top: 18px;
  width: 435px;
}

.processBottom__desc-outer > p {
  margin-top: 15px;
  width: 549px;
}

@media (max-width: 1200px) {
  .processBottom__innerContainer {
    flex-direction: column;
    justify-content: space-between;
    height: 640px;
  }
}

@media (max-width: 800px) {
  .processBottom__desc-outer {
    width: 401px;
    height: 313px;
    margin-left: 0;
  }

  .processBottom__desc-outer > h3 {
    font-size: 24px;
    line-height: 24px;

    width: 155px;
    margin: 20px 0 0 22px;
  }

  .processBottom__desc-outer > span,
  .processBottom__desc-outer > p {
    font-size: 16px;
    line-height: 20px;

    margin-left: 20px;
    width: 340px;
  }
}

@media (max-width: 450px) {
  .processBottom__innerContainer {
    height: 680px;
  }

  .processBottom__image-outer {
    width: 300px;
  }

  .processBottom__desc-outer {
    width: 300px;
    height: 360px;
  }

  .processBottom__desc-outer > h3 {
    font-size: 24px;
    line-height: 24px;

    width: 155px;
    margin: 38px 0 0 22px;
  }

  .processBottom__desc-outer > span,
  .processBottom__desc-outer > p {
    font-size: 14px;
    line-height: 18px;

    margin-left: 20px;
    width: 260px;
  }
}
