.learn {
  height: 1410px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 80px;
}

.learn__subjects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.learn__subject-smallText {
  color: #22253b;
  text-align: center;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 104.4%;
  margin-top: 20px;
}

.learn__subjects-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  height: 396px;
  border-radius: 48px;
  background: #eaf2f5;
  margin-top: 35px;
}

.learn__subjects-image {
  width: 450px;
  height: 400px;
  object-fit: cover;
  margin-left: 50px;
}

.learn__subjects-items {
  width: 600px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.learn__subjects-item {
  height: 45.133px;
  width: fit-content;
  padding: 2px 10px;
  border-radius: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.learn__subjects-item-text {
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
}

.learn__advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.learn__advantages-cards {
  display: flex;
  justify-content: center;
  width: 1500px;
  margin-top: 34px;
}

@media (max-width: 1520px) {
  .learn__advantages-cards {
    height: 500px;
    flex-wrap: wrap;
    width: 1000px;
  }
}

@media (max-width: 1200px) {
  .learn__subjects-about {
    width: 900px;
  }

  .learn__subjects-image {
    width: 350px;
    height: 300px;
    margin-left: 0;
  }

  .learn__advantages {
    margin-top: 50px;
  }
}

@media (max-width: 950px) {
  .learn__subjects-about {
    flex-direction: column;
    justify-content: start;
    width: 500px;
    height: 600px;
  }

  .learn__subjects-itemsHolder {
    height: 400px;
    display: flex;
    justify-content: center;
  }

  .learn__subjects-items {
    justify-content: center;
    height: 300px;
    width: 95%;
  }

  .learn__advantages-cards {
    width: 750px;
  }
}

@media (max-width: 550px) {
  .learn__subjects-about {
    width: 300px;
  }

  .learn__subjects-item {
    height: 40px;
    border-radius: 44px;
  }

  .learn__subjects-item-text {
    font-size: 14px;
    line-height: 40px;
  }

  .learn__advantages-cards {
    flex-wrap: wrap;
    width: 500px;
  }
}

@media (max-width: 440px) {
  .learn {
    margin-top: 50px;
  }
}
