.greeting {
  display: flex;
  justify-content: center;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/faraprism.appspot.com/o/greetBack.webp?alt=media&token=5a835167-898b-4274-be98-1565fe234da5");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: cover;
  width: 100vw;
  height: 650px;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.greeting__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
}

.greeting__description {
  display: flex;
  flex-direction: column;
}

.greeting__text {
  color: #2c0571;
  font-family: Gilroy;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  width: 700px;
  margin-top: 40px;
}

.greeting__test {
  margin-top: 45px;
}

@media (max-width: 1200px) {
  .greeting__inner {
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .greeting__inner {
    justify-content: center;
  }
}

@media (max-width: 750px) {
  .greeting {
    height: 700px;
  }

  .greeting__text {
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    width: 288px;
  }

  .greeting__description {
    align-items: center;
  }
}

@media (max-width: 400px) {
  .greeting__text {
    font-size: 24px;
    line-height: 24px;
    width: 288px;
  }
  
  .greeting__text:first-child {
    margin-top: 0;
  }
}
